@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Body CSS */
body {
  font-family: "Inter Tight", sans-serif;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
html {
  font-family: "Inter Tight", sans-serif;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
}
